[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
pytest = "*"
pytest-mock = "*"
requests = "*"
googlemaps = "*"

[dev-packages]

[requires]
python_version = "3.11"
